html {
	font-size: $base-font-size;
  box-sizing: border-box;
  color: $base-text-color;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $base-text-color;
	min-height: 100vh;
	// background: url(../img/giraffe.jpg) no-repeat center center;
	// background-size: cover;
	position: relative;
	font-family: 'museo-sans', sans-serif;
	line-height: 1.8;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

img {
	width: 100%;
	height: auto;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	// position: absolute;
	// max-width: 20rem;
	margin: 0 auto;
	max-width: 600px;
	padding: 0 .5rem;
	// background: rgba(white, .4);
	// bottom: 0;
	// left: 0;
	// padding: 0 1rem 1rem;
	// width: 100%;
	// @media screen and (min-width: $lap-start) {
	// 	bottom: 1rem;
	// 	right: 1rem;
	// 	left: auto;
	// }
}

.content__body {
	// display: none;
	@media screen and (min-width: $lap-start) {
		// display: block;
	}
}

.content:hover .content__body {
}

h1 {
	font-family: 'felt-tip-senior';
	font-weight: normal;
	font-size: 3rem;
	line-height: 1;
	margin: 0 0 .5rem;
	color: rgba(black, .7);
	span {
		font-size: .5em;
	}
}

.contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
}